<div class="modal-header">
    <div class="modal-title">
        <p class="h3">{{ticker}}</p>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="transactionService.dismiss()">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Current Price: {{price| number:'1.2-2'}}</p>
    <p>Money in Wallet: ${{money| number:'1.2-2'}}</p>
    <p>Quantity <input [(ngModel)]="transactionQuantity" type="number" min="0"></p>
    <p class="text-danger" *ngIf="(isBuy && price*transactionQuantity > money)">Not enough money in wallet!</p>
    <p class="text-danger" *ngIf="(!isBuy && transactionQuantity > boughtQuantity)">Not enough stock to sell!</p>
</div>
<div class="modal-footer">
    <p class="mr-auto">Total : {{transactionQuantity * price| number:'1.2-2'}}</p>
    <button type="button" 
        class="btn btn-success"
        [disabled]="!transactionQuantity 
        || (isBuy && price*transactionQuantity > money) 
        || (!isBuy && transactionQuantity > boughtQuantity)"
        (click)="transaction()"
        >
        {{isBuy?'Buy':'Sell'}}
    </button>
</div>